td {
  width: 10vw;
  height: 10vh;
  background: black;
  border: 2px solid green;
  font-size: 5rem;
  text-align: center;
}
table {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10vh;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
body {
  background-attachment: url("https://cdn.videvo.net/videvo_files/video/free/2013-12/small_watermarked/Falling_SnowflakesVidevo_preview.webm");
}
